<div class="content">
  <div class="header">
    <h1>Users List ({{ users.length }})</h1>
    <button mat-raised-button color="primary" (click)="addUser()">
      Add User
    </button>
  </div>

  <div *ngIf="loading$ | async; else table" class="spinner"></div>

  <ng-template #table>
    <mat-table #table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.email }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.phone }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let user">
          <button mat-button color="primary" (click)="editUser(user)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button color="warn" (click)="deleteUser(user)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="['id', 'name', 'email', 'phone', 'actions']"
      ></mat-header-row>
      <mat-row
        *matRowDef="
          let row;
          columns: ['id', 'name', 'email', 'phone', 'actions']
        "
        class="user-item"
      ></mat-row>
    </mat-table>
  </ng-template>
</div>
